@typeparam TData
<div class="draggable-grid-container @(_dragState.IsDragging ? "dragging" : "")"
     style="@GetThemeStyles()"
     @onkeydown="HandleKeyDown"
     @onmouseup="HandleMouseUp"
     @onmouseleave="CleanUpDrag"
     tabindex="0">

    <div class="draggable-grid"
         style="@GetGridStyle()">

        @for (int row = 0; row < Layout.Rows ; row++)
        {
            for (int col = 0; col < Layout.Columns ; col++)
            {
                int r = row;
                int c = col;

                GridObject cell = _gridSystem.Grid[r, c];

                if (cell is null)
                {
                    GridObject occupied = _gridSystem.GetByPosition(r, c);
                    bool isOccupied = occupied is not null;

                    @if (_dragState.IsDragging && 
                         _dragState.DragCurrentMouse.HasValue &&
                         _dragState.DragCurrentMouse.Value.Row == r &&
                            _dragState.DragCurrentMouse.Value.Column == c
                        )
                    {
                        <div class="grid-cell drop-area-highlight" style="@GetCellStyle(r,c,true)">
                        </div>
                    }
                    else
                    {
                        <div class="grid-cell @(!isOccupied ? "drop-target" : "")"
                             style="@GetCellStyle(r, c)"
                             @onclick:preventDefault
                             @onmousemove="() => HandleMouseMove(r, c)"
                             @onclick="@(() => CellClicked(r, c))">
                        </div>
                    }
                }
                else
                {
                    GridItem item = _gridSystem.GetObject(cell.Id);

                    @if (_dragState.IsDragging &&
                            _dragState.DragCurrentMouse.HasValue &&
                            _dragState.DragCurrentMouse.Value.Row == r &&
                            _dragState.DragCurrentMouse.Value.Column == c)
                    {

                        <div class="grid-cell drop-area-highlight"
                             style="@GetItemStyle(item)"
                             @onmouseup="HandleMouseUp"
                             @onmousemove="() => HandleMouseMove(r, c)"
                             @onclick:preventDefault>

                            @if (ChildContent is not null && item.IsDataOfType<TData>())
                            {
                                @ChildContent(item.GetData<TData>())
                            }
                        </div>
                    }
                    else
                    {
                        if (!cell.IsEmptyObject())
                        {
                            <div class="grid-item"
                                 style="@GetItemStyle(cell)"
                                 @onmousedown="@(() => StartMouseDown(cell))"
                                 @onmouseup="HandleMouseUp"
                                 @onmousemove="() => HandleMouseMove(r, c)"
                                 @onclick:preventDefault>

                                @if (ChildContent is not null && item.IsDataOfType<TData>())
                                {
                                    @ChildContent(item.GetData<TData>())
                                }
                            </div>                                                    
                        }
                    }
                }
            }
        }
    </div>
</div>